<%= render 'layouts/mainContent_partial' %>

<div class="container">
              <div class="cd-pricing-container cd-has-margins">

                    <ul class="cd-pricing-list">
                      <% widgets.each do |index, widget| %>
    <%= content_tag :li, class: "cd-#{widget[:name].downcase}" do %>
     <header class="cd-pricing-header">
      <h2><%= widget[:name] %></h2>

      <div class="cd-price">
        <span class="cd-currency">$</span>
        <span class="cd-value"><%= widget[:amount] / 100  %></span>
        <span class="cd-duration">per month</span>
      </div>
    </header> <!-- .cd-pricing-header -->

    <div class="cd-pricing-body">
      <ul class="cd-pricing-features">
        <li><em><%= widget[:extras] %></em> Visual Mix Downloads</li>
        <li><em><%= widget[:categoriesCount] %></em><%= widget[:categoriesDescription] %></li>
      </ul>
    </div> <!-- .cd-pricing-body -->

    <footer class="cd-pricing-footer">
      <div class="color_background">            
          <%= form_tag(charges_path(widget: index)) do %> 
                 
                  <%= content_tag :button, class: "cd-select cd-selectBlueish-#{widget[:name].downcase}" do %> Get Started
                  <% end %>

                  <script src="https://checkout.stripe.com/checkout.js" onload="disappearElement()" class="stripe-button stripeChanger" 
                         
                          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                          data-description=<%= widget[:name] %>
                          panelLabel: "Subscribe"
                          data-amount=<%= widget[:amount]%>
                          data-locale="auto">
                          handler.open({closed : function(){
                            colorChange()
                          /* some function here*/}})
                  </script>
                                  
            <% end %>                       
     </div>
    </footer> <!-- .cd-pricing-footer -->
    <% end %>
<% end %>
                    </ul> <!-- .cd-pricing-list -->
                  </div> <!-- .cd-pricing-container -->

              </div>
    </div><!-- end of purchase-section -->

<%= render 'layouts/footer_partial' %>