
<style>
  .error{
    color: red;
  }
</style>

<div class="viewport-2">
  <div class="inner-div">

 <div id="pushContent"></div>

  <div id= "allContent">

  <div class="">

      <div class='container'>

        <div class="row navigation">

              <div class="col-md-5">

                <%= link_to root_path do %>
                     <%= image_tag "logo.png", class: "logo" %>
                  <% end %>

              </div> <!-- end of col-md-12 -->


            </div><!-- end of row -->


          <div class="row headlineHero_section">

            <div class='col-md-10 col-md-offset-1'>

                    <h1 class="test_headline--main">
                            <span>Downloadables</span>
                          </h1>
                          <h1 class="test_headline">
                            <span>Free mixes avaliable for all</span>
                    </h1>
    <!--                <a href="#pricing"><button type="button" class="btn btn_alt">Get Started</button></a> -->
             </div>  <!-- end of col-md-6 -->

             <div class='col-md-12'>
                <!--     <img class="center-block illustration" src="assets/hero_v2.png"> -->

             </div>

          </div> <!-- end of row -->

        </div> <!-- end of container -->

    </div> <!-- end of hero-section -->


    <div class="how-section">

      <div class="container container-alt2">



      <div class="row">
        <% if flash[:success].present? %>
            <div class="alert alert-success">
              <strong>Success!</strong> <%= flash[:success] %>
            </div>
        <% end %>
        <% if flash[:warning].present? %>
            <div class="alert alert-warning">
              <%= flash[:warning] %>
            </div>
        <% end %>

                <h1  class="description">
                  <span class="header"></span>
                  <a name="what"></a>
                  <span  class="subheader">Monthly Mixes</span>
                  <span class="body">
                    New to streaming or purchasing visuals for your set? Download our free monthly visual mixes before making any commitments
                  </span>


                </h1> <!-- end of description -->

      </div> <!-- end of row -->

      </div>

            <div class="container">


                  <div class="row">

                      <div class="col-md-4">

                          <div class="row">
                            <div class="col-md-12">

                              <div class="content-grouper">
                                <!-- data-file-name attribute is the name of file to download -->
                               <!--  <img class="img-curve img-download" data-file-name="content.jpg" src="assets/cvmptr-10.jpg"> -->

                                <picture class="img-download" data-file-name="content.jpg">

                                  <img class="img-curve" src="" alt="">
                                      <source class="img-curve" 
                                        media="(min-width: 650px)"
                                        srcset="assets/cvmptr-10.jpg">
                                      <source class="img-curve" 
                                        media="(min-width: 465px)"
                                        srcset="assets/cvmptr-10_mobile.jpg">
                                      <img class="img-curve" 
                                        srcset="assets/cvmptr-10_mobile.jpg" 
                                        alt="a cute kitten">
                                    </img>

                                  </picture>


                              <h3 class="step step_alt">
                            <span class="label">November 2016</span>
                              <button type="button" class="btn btn--download btn--download--hidden">Download</button>
                          </h3>

                              </div>

                            </div><!-- end of col-md-12 -->
                          </div> <!-- end of row -->

                       </div> <!-- end of col-md-4 -->





                      <div class="col-md-4">

                          <div class="row">
                            <div class="col-md-12">

                              <div class="content-grouper content-grouper--secondtoLast">
                                <!-- data-file-name attribute is the name of file to download -->
           <!--                       <img class="img-curve img-download" data-file-name="content.jpg" src="assets/cvmptr-22.jpg"> -->

                                <picture class="img-download" data-file-name="content.jpg">

                                  <img class="img-curve" src="" alt="">
                                      <source class="img-curve" 
                                        media="(min-width: 650px)"
                                        srcset="assets/cvmptr-22.jpg">
                                      <source class="img-curve" 
                                        media="(min-width: 465px)"
                                        srcset="assets/cvmptr-22_mobile.jpg">
                                      <img class="img-curve" 
                                        srcset="assets/cvmptr-22_mobile.jpg" 
                                        alt="a cute kitten">
                                    </img>
                                    
                                  </picture>

                                 <h3 class="step step_alt">
                            <span class="label">October 2016</span>
                              <button type="button" class="btn btn--download btn--download--hidden">Download</button>
                          </h3>

                              </div>

                            </div><!-- end of col-md-12 -->
                          </div> <!-- end of row -->

                       </div> <!-- end of col-md-4 -->


                      <div class="col-md-4">

                          <div class="row">
                            <div class="col-md-12">

                              <div class="content-grouper content-grouper--last">
                                <!-- data-file-name attribute is the name of file to download -->
                               <!--  <img class="img-curve img-download" data-file-name="content.jpg" src="assets/cvmptr-43.jpg"> -->

                              <picture class="img-download" data-file-name="content.jpg">

                                  <img class="img-curve" src="" alt="">
                                      <source class="img-curve" 
                                        media="(min-width: 650px)"
                                        srcset="assets/cvmptr-43.jpg">
                                      <source class="img-curve" 
                                        media="(min-width: 465px)"
                                        srcset="assets/cvmptr-43_mobile.jpg">
                                      <img class="img-curve" 
                                        srcset="assets/cvmptr-43_mobile.jpg" 
                                        alt="a cute kitten">
                                    </img>
                                    
                                  </picture>


                                <h3 class="step step_alt">
                            <span class="label">September 2016</span>
                              <button type="button" class="btn btn--download btn--download--hidden">Download</button>
                          </h3>

                              </div>

                            </div><!-- end of col-md-12 -->
                          </div> <!-- end of row -->

                       </div> <!-- end of col-md-4 -->

                  </div> <!-- end of row -->


            </div> <!-- end of container -->




    </div><!-- end of how-section -->



    </div> <!-- end of divider -->


<!-- BEGIN: Add testimonals here -->

<div class="divider">

      <div class="container">

        <div class="footerSection">
            <ul class="footerList">
              <li class="locationBuild">Made with <i class="fa fa-heart fa-lg"></i> in DC</li>


              <li class="otherOptions"><a id="terms_footer" href="#content-div" class="fancybox">Terms of Service</a></li>

               <div  style="display: none">
                  <div id="content-div">
                      <div class="container terms_holder">
                          <div class="row">
                            <div class="col-md-12">
                                  <p class="terms">Terms of Service ("Terms")</p>
                                      <p>Last updated: November 11, 2015</p>
                                      <br>
                                      <p>Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the www.crowdsurfer.co website (the "Service") operated by TourRiders LLC ("us", "we", or "our").
                                      Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who wish to access or use the Service.
                                      By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you do not have permission to access the Service.</p>
                                      <br>
                                      <p>Intellectual Property</p>
                                      <p>The Service and its original content (excluding Content provided by users), features and functionality are and will remain the exclusive property of TourRiders LLC and its licensors. The Service is protected
                                      by copyright, trademark, and other laws of both the United States and foreign countries. Our trademarks and trade dress may not be used in connection with any product or service without the prior written consent of TourRiders LLC</p>
                                      <br>
                                      <p>Links To Other Web Sites</p>
                                      <p>Our Service may contain links to third party web sites or services that are not owned or controlled by TourRiders LLC
                                      TourRiders LLC. has no control over, and assumes no responsibility for the content, privacy policies, or practices of any third party web sites or services. We do not warrant the offerings of any of these entities/individuals or their websites.
                                      You acknowledge and agree that TourRiders LLC. shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such third party web sites or services.
                                      We strongly advise you to read the terms and conditions and privacy policies of any third party web sites or services that you visit.</p>
                                      <br>
                                      <p>Termination</p>
                                      <p>We may terminate or suspend your account and bar access to the Service immediately, without prior notice or liability, under our sole discretion, for any reason whatsoever and without limitation, including but not limited to a breach of the Terms.
                                      If you wish to terminate your account, you may simply discontinue using the Service.
                                      All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability</p>
                                      <br>
                                      <p>Limitation Of Liability</p>
                                      <p>In no event shall TourRiders LLC, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) your
                                       access to or use of or inability to access or use the Service; (ii) any conduct or content of any third party on the Service; (iii) any content obtained from the Service; and (iv) unauthorized access, use or alteration of your transmissions or content, whether based on warranty, contract,
                                       tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility of such damage, and even if a remedy set forth herein is found to have failed of its essential purpose.</p>
                                       <br>
                                      <p>Disclaimer</p>
                                      <p>Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis. The Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement\
                                       or course of performance. TourRiders LLC   its subsidiaries, affiliates, and its licensors do not warrant that a) the Service will function uninterrupted, secure or available at any particular time or location; b) any errors or defects will be corrected; c) the Service is free of viruses or other harmful components; or d) the results of using the Service will meet your requirements.</p>
                                       <br>
                                      <p>Exclusions</p>
                                      <p>Some jurisdictions do not allow the exclusion of certain warranties or the exclusion or limitation of liability for consequential or incidental damages, so the limitations above may not apply to you.</p>
                                      <br>
                                      <p>Governing Law</p>
                                      <p>These Terms shall be governed and construed in accordance with the laws of New York, United States, without regard to its conflict of law provisions. Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have had between us regarding the Service.</p>
                                      <br>
                                      <p>Changes</p>
                                      <p>SWe reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion. By continuing to access or use our Service after any revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, you are no longer authorized to use the Service.</p>
                                      <br>
                                      <p>Contact Us</p>
                                      <p>If you have any questions about these Terms, please contact us.</p>
                                  </div> <!-- end of col-md-6 -->
                                </div> <!-- end of row -->
                            </div> <!-- end of container -->
                  </div> <!-- end of inner-div -->
              </div> <!-- end of view-port-1  -->


    <li class="otherOptions"><a id="privacy_footer" href="#content-div" class="fancybox">Privacy Policy</a></li>

               <div  style="display: none">
                  <div id="content-div">
                      <div class="container terms_holder">
                          <div class="row">
                            <div class="col-md-12">
                                  <p class="terms">Privacy Policy</p>

                                    <p>Last updated: November 11, 2015</p>
                                    <br>
                                    <p>TourRiders LLC ("us", "we", or "our") operates the www.crowdsurfer.co website (the "Service").
                                    This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you use our Service.
                                   We will not use or share your information with anyone except as described in this Privacy Policy.
                                    We use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at www.crowdsurfer.co</p>
                                    <br>
                                    <p>Information Collection And Use</p>
                                    <br>
                                    <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your email address, name, phone number, postal address ("Personal Information").\
                                    We collect this information for the purpose of providing the Service, identifying and communicating with you, responding to your requests/inquiries, servicing your purchase orders, and improving our services.</p>
                                    <br>
                                  <p>Log Data</p>
                                  <br>
                                  <p>We collect information that your browser sends whenever you visit our Service. This Log Data may include information such as your computer Internet Protocol address, browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages and other statistics.
                                  In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this type of information in order to increase our Service functionality. These third party service providers have their own privacy policies addressing how they use such information.</p>
                                  <br>
                                  <p>Cookies</p>
                                  <br>
                                  <p>Cookies are files with a small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and transferred to your device. We use cookies to collect information in order to improve our services for you.
                                  You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. The Help feature on most browsers provide information on how to accept cookies, disable cookies or to notify you when receiving a new cookie.
                                  If you do not accept cookies, you may not be able to use some features of our Service and we recommend that you leave them turned on.</p>
                                  <br>
                                  <p>Do Not Track Disclosure</p>
                                  <br>
                                  <p>In no event shall CountUp Inc., nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) your
                                   access to or use of or inability to access or use the Service; (ii) any conduct or content of any third party on the Service; (iii) any content obtained from the Service; and (iv) unauthorized access, use or alteration of your transmissions or content, whether based on warranty, contract,
                                   tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility of such damage, and even if a remedy set forth herein is found to have failed of its essential purpose.</p>
                                   <br>
                                  <p>Disclaimer</p>
                                  <br>
                                  <p>We do not support Do Not Track ("DNT"). Do Not Track is a preference you can set in your web browser to inform websites that you do not want to be tracked.
                                  You can enable or disable Do Not Track by visiting the Preferences or Settings page of your web browser.</p>
                                  <br>
                                  <p>Service Providers</p>
                                  <br>
                                  <p>We may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf, to perform Service-related services and/or to assist us in analyzing how our Service is used.\
                                  These third parties have access to your Personal Information only to perform specific tasks on our behalf and are obligated not to disclose or use your information for any other purpose.</p>
                                  <br>
                                  <p>Security</p>
                                  <br>
                                  <p>The security of your Personal Information is important to us, and we strive to implement and maintain reasonable, commercially acceptable security procedures and practices appropriate to the nature of the information we store, in order to protect it from unauthorized access, destruction, use, modification, or disclosure.
                                  However, please be aware that no method of transmission over the internet, or method of electronic storage is 100% secure and we are unable to guarantee the absolute security of the Personal Information we have collected from you.</p>
                                  <br>
                                  <p>Links To Other Sites</p>
                                  <br>
                                  <p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party site. We strongly advise you to review the Privacy Policy of every site you visit.
                                  We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
                                  <br>
                                  <p>Children Privacy</p>
                                  <p>Only persons age 18 or older have permission to access our Service. Our Service does not address anyone under the age of 13 ("Children").
                                  We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you learn that your Children have provided us with Personal Information, please contact us. If we become aware that we have collected Personal Information from a children under age 13 without verification of parental consent, we take steps to remove that information from our servers.</p>
                                  <br>
                                  <p>Changes To This Privacy Policy/p>
                                  <br>
                                  <p>This Privacy Policy is effective as of June 05, 2015 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.
                                  We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.
                                  If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.
                                  </p>
                                  <br>
                                  <p>Contact Us</p>
                                  <br>
                                  <p>If you have any questions about this Privacy Policy, please contact us.
                                  </div> <!-- end of col-md-6 -->
                                </div> <!-- end of row -->
                            </div> <!-- end of container -->
                  </div>
              </div>


              <li class="otherOptions"><a href="mailto:info@colorfulcollective.tv?subject=">Contact</a></li>
              <li class="otherOptions"><a href="mailto:info@colorfulcollective.tv?subject=">Feedback</a></li>
              <li class="locationBuild2">Made with <i class="fa fa-heart fa-lg"></i> in DC</li>
            </ul>

        </div>


      </div><!-- end of container -->


    </div><!-- end of how-section -->

  </div>

 <!-- Subscribe Modal Start -->
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabel">Join Our Mailing List</h4>

             <div class="row">

          <div class="col-md-12">
              
                <p class="modal-header--notBootstrap">Stay up-to-date on new monthly free mixes, discounts, and early access to new themes</p>
                
            </div>

      </div>

       </div>


       
       <div class="modal-body row">

      



        <div class="col-md-6">
          <div class="viewport-3">
            
          </div>

        </div> <!-- end of col-md-4 -->



          <div class="col-md-6">

               <form id="popup" action="preview/subscribe">
                 <div class="form-group">
                  <!--  <label for="formGroupExampleInput">Name*</label> -->
                   <input type="text" id="name" name="name" class="form-control" placeholder="Name">
                 </div>

                 <div class="form-group">
                  <!--  <label for="formGroupExampleInput2">Email*</label> -->
                   <input type="email" id="email" name="email" class="form-control" placeholder="Email">
                 </div>
                 <input type="hidden" name="file_name" id="file_name">
                 <div class="form-group">
                   <input type="submit" class="btn btn-primary btn-download" value="Download">
                   <p class="btn-download-text">No spam. Unsubscribe anytime</p>
                 </div>
               </form>

            </div> <!-- end of col-md-8 -->


       </div> <!-- end of modal-body row -->
     

     </div>
   </div>
 </div>
  <!-- Subscribe Modal End -->

 <script>
  $(document).ready(function () {

    // Redirect to download link
    <% if @file_name %>
      window.location.href = "<%= "#{preview_download_url}?file_name=#{@file_name}" %>"
    <% end %>

    $("#popup").validate({
      // Specify validation rules
      rules: {
        // The key name on the left side is the name attribute
        // of an input field. Validation rules are defined
        // on the right side
        name: "required",
        email: {
          required: true,
          // Specify that email should be validated
          // by the built-in "email" rule
          email: true
        }
      },
      // Specify validation error messages
      messages: {
        name: "Please enter your first name",
        email: "Please enter a valid email address"
      }
    });
  });

 </script>
